.top-wrapper {
    width: 100%;
    height: 500px;
    background-color: #F4F8FA;
    position: relative;
}

.top-container {
    padding: 40px 0;
    margin: 60px auto 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.top-menu {
    width: 100%;
    height: 60px;
    background-color: white;
    color: #0085C9;
    margin-top: 30px;
    padding-right: 30px;

}

.top-menu ul {
    display: flex;
    list-style: none;
}

.top-menu li {
    padding: 0 10px;
    margin: 0 auto;
    text-align: center;
}

.top-message {
    display: inline-block;
}

.top-message h1 {
    color: #0085C9;
    line-height: 60px;
    font-size: 45px;
}

.top-message p {
    margin: 20px 0;
    letter-spacing: 2px;
}

.btn {
    border: 2px solid;
    display: inline-block;
    text-align: center;
    background-color: white;
    color: #0085C9;
    border-radius: 30px;
    padding: 10px 50px;
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 500;
}
.btn:hover {
    color: white;
    background-color: #0085C9;
}

.top-message-img {
    float: right;
    display: inline-block;
}

.top-img {
border-radius: 5px;
}

.about-service-box-wrapper h3{
    text-align: center;
    padding-top: 30px;
    color: #0085C9;
    font-size: -webkit-xxx-large;
}

.about-service-box {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.about-service-box-item {
    text-align: center;
    flex: 1;
    padding: 0 30px;
    box-sizing: border-box;
    width: 30%;
}

.about-service-box-item + .about-service-box-item {
    border-left: 3px solid #f0f0f0;
}

.about-service-box-item-head {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}

.about-service-box-item p {
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
}

.about-service-box-item img {
  color: #68e1fd
}

.contents-wrapper {
    background-color: #F4F8FA;
    padding-top: 30px;
}

.contents-box {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.contents-box-item {
    display: flex;
    margin: 50px;
}

.contents-box-item-message {
    padding: 0 40px;
}

.contents-box-item-message h3 {
    color: #0085C9;
    text-align: center;
    font-size: xxx-large;
    padding-bottom: 60px;
}

.contents-box-item-message p {
    font-size: 20px;
    line-height: 35px;

}
