.text-left {
    text-align: left!important;
    margin-top: 10px;
}

input#stylist_last_name,
     #stylist_first_name,
     #stylist_last_name_kana,
     #stylist_first_name_kana,
     #stylist_password,
     #stylist_email,
     #stylist_nick_name,
     #stylist_nick_name,
     #stylist_skilled_style1,
     #stylist_skilled_style2,
     #stylist_instagram_account,
     #stylist_twitter_account,
     #stylist_facebook_account {

    width: 260px;
}

input#stylist_images {
    display: inline-block;
    width: 260px;
}

select#stylist_birthday_1i,
      #stylist_birthday_2i,
      #stylist_birthday_3i,
      #stylist_career_years,
      #stylist_base_id {

    height: 48px;
    padding: 7px 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 10px;
}

.notice {
  color: red;
  margin-left: 40px;
}

.sns-account span {
  display: inline-block;
  width: 100px;
}

input#stylist_instagram_account,
     #stylist_twitter_account,
     #stylist_facebook_account {

    width: 70%;
    margin-bottom: 5px;
}



textarea#stylist_introduction {
    padding: 7px 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 17px;
}
